@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
/* shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-2 {
  max-width: 1140px;
}

.nav-font-color {
  color: #8987a1;
}
.nav-font-home {
  color: #252432;
  font-weight: 700;
}
.nav-cart {
  color: black;
}

.text-primary {
  color: #e95a08;
}

.btn {
  background-color: #e95a08;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  width: 100%;

  padding: 20px 20px;
}

.text-grey {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1.38rem;
}

.text-title {
  font-weight: bold;
  font-size: 3.13rem;
}
.body-bg {
  background-color: #f5f8ff;
}

.text-center {
  text-align: center;
}
/* navber related styles */

nav {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  /* border: 1px solid black; */
}

nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 20px 0;
}

nav ul a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 400;
}
nav img {
  width: 110px;
  height: 70px;
}

/* banner */

.banner {
  display: flex;
  margin: 120px auto;
  align-items: center;
}

.banner .title {
  font-size: 4.06rem;
  font-weight: bold;
}
.banner p {
  margin-top: 15px;
  max-width: 100%;
}
.banner-left {
  flex: 1;
  padding-top: 90px;
  /* border: 1px solid blue; */
}
.banner-right {
  flex: 1;
}
.banner-right img {
  display: block;
  width: 100%;

  margin-top: 30px;
}

/* our plant related style */

.our-plant {
  margin: 120px auto;
}

.our-plant p {
  padding: 10px 20px;
  margin: 10px 110px 40px;
}
.our-plant h2 {
  padding-right: 190px;
}

.our-plants-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.our-plants-bottom .plants-card img {
  width: 100%;
}
.plants-card {
  background-color: #ffffffcf;
}

.plants-card-body {
  text-align: center;
}

.plants-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 1.38rem;
}

.plants-price {
  padding-bottom: 30px;
  font-size: 1.38rem;
  font-weight: bold;
}

/* Flower and plants lover section */

.flower-store {
  display: flex;
  margin: 220px auto;
  /* position: relative; */
  gap: 70px;
}

.store-img {
  width: 100%;
  height: 100%;
}

.badge {
  width: 300px;
  height: 300px;

  position: absolute;
  left: 103%;
  top: 2%;
  transform: translate(-70%, -50%);
}

.store-badge {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.466));
  display: block;
}
.store-left {
  position: relative;
}
.store-right {
  margin: 30px auto;
}
.store-list {
  margin-left: 15px;
}
.store-right ul li {
  margin: 20px;
  padding-right: 40px;
}

/* Latest Deal Section */

.latest-deal {
  text-align: center;
}

/* Joint section */

.joint {
  background-image: url(../assets/news-letter-bg.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joint-container {
  width: 830px;
  text-align: center;
  border: 1px solid black;
}
.joint-container h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.joint-container .input {
  text-align: center;
}

@media screen and (max-width: 576px) {
  /* shared style */
  .hidden {
    display: none;
  }
  /* navber */

  nav {
    margin: 20px 20px 0;

    height: 45px;
  }
  nav ul {
    padding-bottom: 40px;
  }

  nav img {
    width: 90px;
    height: 50px;
  }
  .banner {
    flex-direction: column-reverse;
    margin: 30px auto;
  }

  .banner-right img {
    margin-top: 30px;

    width: 100%;
  }

  .banner-left {
    flex: 1;
    padding-top: 30px;
    margin: 0 20px;
  }

  .banner .title {
    font-size: 1.5rem;
  }

  .banner p {
    font-size: 1rem;
  }

  /* plants section */

  .our-plant {
    margin: 70px auto;
  }
  .our-plant h2 {
    font-size: 1.5rem;
    padding: 0;
  }

  .our-plant p {
    padding: 0 20px;
    margin: 10px 10px 30px;
    font-size: 1rem;
  }
  .our-plants-bottom {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 20px;
  }
  .our-plants-bottom .plants-card img {
    width: 100%;
  }

  .plants-price {
    padding-bottom: 40px;
  }

  .plants-title {
    padding-top: 30px;
  }

  /* Flower and plants lover  */

  .flower-store {
    flex-direction: column;
    margin: 40px 20px;
  }
  .store-img img {
    width: 100%;
  }
  .store-right {
    margin-top: -40px;
  }
  .store-title {
    font-size: 1.5rem;
    /* padding-bottom: 20px; */
  }
  .store-list {
    font-size: 1rem;
  }

  .store-right ul li {
    margin: 10px;
    padding-right: 0;
  }
}
